<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <%= render '/shared/header'%>
</head>
<body>
    <h1>リンク置き場</h1>
    <%= link_to "ホーム画面","/main/show" %>
    <br>
    <%= link_to "ユーザー登録画面","/sessions/new"%>
    <br>
    <%= link_to "ユーザー登録画面","/users/register"%>
    <br>
    <%= link_to "ユーザー2画面","/users/show/2"%>
</body>
</html>